/* content foi ajustado para 60% para que o conteudo por completo fique alinhado ao centro da tela */
.content{
    max-width: min(90rem, 50%)
}

/*+++++++++++++ INICIO DO HEADER +++++++++++++++++++++  */
/* goblal do Header */
#roomq header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

/* buttons Header */

/* buttons global Room */
#roomq header .buttons{  
    margin-right: 0.8rem;
    display: flex;
}

/* header primeiro button */
#roomq header .buttons .button:nth-child(1)
{
    padding: 1.3rem 1.6rem;
    margin-right: 0.8rem;
}

/* imagen do button Header 01 */
#roomq header .buttons .button:nth-child(1) img {
    margin-left: 1rem;
    height: 2rem;
    width: 2rem;
}

/* header segundo button */

/*  segunda button style      */
#roomq header .buttons .button:nth-child(2) {
    padding: 1.3rem 3.2rem;
    display: flex;

}

/* imagem segundo button */
#roomq header .buttons .button:nth-child(2) img {
    height: 2rem;
    width: 2rem;
    margin-left: 1rem;
}

/*+++++++++++++ FIM DO HEADER +++++++++++++++++++++  */


/*+++++++++++++ INICIO DO MAIN +++++++++++++++++++++  */


/* SECTION DE PERGUNTA PARA ESCREVER */
main #question-form {
    margin-bottom: 1.8rem ;
}

#question-form h2{
    margin-bottom: 2.4rem;
    line-height: 4.2rem;
}

#question-form form {
    border: 0.2rem solid var(--grey-blue);
    padding: 1.6rem;
    border-radius: 0 .8rem .8rem .8rem;
}

#question-form form textarea{
    resize: none;
    background: transparent;
    width: 100%;
    outline: none;
}
/* estilizando placeholder */
#question-form form textarea::placeholder{
    color: var(--grey-blue);
}

#question-form form footer {
    display: flex;
    justify-content: space-between;
}


#question-form form footer > div {
    color: var(--icons-details);
    display: flex;
    align-items: center;
    font-family: 'poppins' sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
}

#question-form form footer > div img{
    margin-right: 0.9rem;
}


#question-form form footer > button {
    padding: 0.8rem 2.4rem;
    height: auto;
    line-height: 2.4rem;

}

/* FINAL DA PRIMEIRA SECTION */
/* INICIO DA SEGUNDA SECTION */

/* questions */
.question-wrapper{
    background: var(--light-blue);
    margin-bottom:0.8rem;
    border-radius: 0 .8rem .8rem .8rem;
    padding: 2.4rem;
}

.question-wrapper .question-content{
    display: flex;
    align-items: center;
}

.question-wrapper .question-content p{
margin-left: 1.6rem;
}


.question-wrapper .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.question-wrapper .actions > a{
    display: flex;
    align-items: center;
    margin-left: .8rem;
}

.question-wrapper .actions > a > img{
   margin-right: .8rem;
}
.question-wrapper .actions > a:nth-child(2){
    margin-left: 2.4rem;
}
